@charset "UTF-8";

/***********************************
			/* 1. BODY */
/***********************************/

* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  background: #181828;
  font-size: 14px;
  line-height: 1;
}

label {
  cursor: pointer;
}

a{
    margin: :0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    color:#000;
    background:transparent;
}

input,select,button,textarea{
    margin :0;
    font-size: 100%;
}

html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.top-header:before {
    background-image: url(https://1.bp.blogspot.com/-gxsOcYWghHA/Xp_izTh4sFI/AAAAAAAAU8s/y637Fwg99qAuzW9na_NT_uApny8Vce95gCEwYBhgL/s1600/header-footer-gradient-bg.png);
}

.top-header:before{
    content:"";
    display: block;
    width: 100%;
    height: 4px;
    background-repeat:repeat-x;
    background-size:contain;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

button{
  border:none;
  padding:0;
  font-size:0;
  line-height: 0;
  background:none;
  cursor:pointer;
}

:focus {
  outline: 0;
}


.error{
  min-height: 100vh;
  position: relative;
  padding:240px 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align:center;
  margin-top:70px;
}

.error__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.error__content{
  position: absolute;
  top:50%;
  left: 50%;
  width:100%;
  -webkit-transform: translate(-50%, -50%);

}

.error__message{
  text-align: center;
  color:#181828;
}

.error__nav {
  max-width: 600px;
  margin: 40px auto 0;
  text-align: center;
}

.error__form{
  position: relative;
  height: 45px;
  width: 170px;
  overflow: hidden;

  display: inline-block;
  vertical-align: top;
  border:1px solid #212121;
  padding-left:10px;
  padding-right:46px;

}

.error__icon{
  position: absolute;
  right:15px;
  top:50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color:#212121;
  -webkit-transition: color .25s ease;
  transition:color .25s ease;

}
